/***********************************************/

/* HERO section */
.hero-section {
  background-color: #222;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
  height: 65rem;
  object-fit: cover;
  border-radius: 10px;
}

.hero-desc {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 4.8rem;
}
.hero-textbox {
  color: #fff;
  align-self: center;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  color: #555;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 600;
}

.btn-full:link,
.btn-full:visited {
  background-color: #faa2c1;
  color: #495057;
}
.btn-full:hover,
.btn-full:active {
  background-color: #c8829a;
  color: #fff;
}
.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
}
.btn-outline:hover,
.btn-outline:active {
  background-color: #feecf3;
  box-shadow: inset 0 0 0 3px #555;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

/***********************************************/

/* NAV BAR SECTION */

header {
  display: grid;

  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  grid-template-columns: 1.5fr 1fr;
  height: 10rem;
  width: 100%;
  padding: 0rem 4.8rem;
  position: fixed;
  top: 0;
  background-color: hsl(0, 0%, 100%, 0.9);
  z-index: 1;
  gap: 4rem;
}
.headerOnMove {
  position: fixed;
  background-color: hsl(0, 0%, 100%, 0.97);
}
.headerConst {
  position: relative;
  background-color: white;
}

.Logo {
  width: 35px;
}
.Burger {
  display: none;
}

.search {
  position: relative;
}
input.SearchInput {
  position: absolute;
  right: -13px;
  transition: all 0.5s;
  height: 4rem;
  width: 51rem;
}
.search-icon {
  position: absolute;
}

.BurgerX {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.signin {
  font-size: 1.6rem !important;
  padding: 2rem;
}
.ExtraMN {
  margin-bottom: 4rem !important;
}

.main-nav-list {
  transition: opacity 0.5s;
  display: flex;
  gap: 3.2rem;
  list-style: none;
  height: 100%;
}
.MN-main-nav-list {
  display: none;
}
.Search-cont {
  padding: 4rem 5rem;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Mn-search {
  position: absolute;
  left: 66px;
}
.Search-cont input {
  border: 1px solid black;
  width: 90%;
  padding: 0 4.8rem;
  height: 6rem;

  font-size: 2rem;
}
.main-nav-link {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.search {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-nav-link[target="false"]::after {
  content: url("../public/Imgs/arrowUp.png");
  bottom: 0;
  position: absolute;
  opacity: 0;
  transition: 0s 180s;
  margin-bottom: -0.6rem;
}

.main-nav-link:hover::after {
  opacity: 1;
  transition: 0s;
}
.main-nav-link[target="true"]::after {
  opacity: 0;
  transition: 0s;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c8829a;
}

.nav-cta:link,
.nav-cta:visited {
  flex: 0.5;
  color: #555;
  padding: 1.2rem 3.2rem;
  border-radius: 9px;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 0 0 3px #333;
  text-align: center;
}
.nav-cta:hover,
.nav-cta:active {
  background-color: #faa2c1;
}

.secondary-nav {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: end;
  list-style: none;
}

.secondary-nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}
.secondary-nav-list li {
  position: relative;
}

.secondary-nav-link:link,
.secondary-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.secondary-nav-link:hover,
.secondary-nav-link:active {
  color: #c8829a;
}
.icon {
  font-size: 3rem;
  cursor: pointer;
}
.CounterInCart {
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -4px;
  right: -7px;
}

.MN-Section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(51, 51, 51, 0.8);
  transition: visibility 250ms ease-in-out;
}
.MN-Cont {
  overflow: auto;
  height: 100%;
  max-width: 50rem;
  width: 90%;
  background-color: #faa2c1;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  transition: width 250ms ease-in-out;
}
.MNlist {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}
.MNItem-cont {
  border-bottom: 1px solid black;
  padding: 2rem 2rem;
}

.MNdropdownContentBox {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.MN-dropdownNav {
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.Mn-header {
  font-size: 1.6rem;
}
.MN-dropdownLink {
  font-size: 1.6rem !important;
}

.MNItem-Headers {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  font-weight: 600;
}

/***********************************************/

/* HOW IT WORKS  */
.section-how {
  padding: 9.6rem 0;
  background-color: #fff;
}
.step-imgbox {
  display: flex;
  justify-content: center;
}
.imgbox-img {
  width: 100%;
  border-radius: 10px;
}

.how-header {
  text-align: center;
}
.how-to-descrip {
  font-size: 1.8rem;
  line-height: 1.6;
}

/***********************************************/

/* Dropdown  */

.dropdownContainer {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  width: 100%;
  height: 60vh;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.97);
  z-index: 1;
  top: 70%;
  left: 0;
  padding: 3.2rem;
  gap: 4rem;
  margin-top: 2.5rem;
  padding-top: 4.8rem;
  border-top: 0.5px solid #999;
}
.dropdownImg {
  width: 100%;
  height: 32rem;
  object-fit: cover;
}

.dropdownContentBox {
  gap: 4em !important;
}
.dropdownContentBox h3 {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}
.dropdownLink:link,
.dropdownLink:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.dropdownLink:hover,
.dropdownLink:active {
  color: #c8829a;
}
.dropdownNav {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style-type: none;
}

/***********************************************/

/* Announcment  */
.Anouncment-container {
  height: 40px;
  background-color: #faa2c1;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 2rem;
}

.An-cta:link,
.An-cta:visited {
  background-color: #faa2c1;
  color: #fff;
}
.An-cta:hover,
.An-cta:active {
  color: #555;
  transition: all 0.3s;
}

/***********************************************/

/* Categories  */
.RentingFor-Section {
  padding: 9.6rem 0;
  background-color: #fff;
  border-bottom: 1px solid #555;
}
.RF-cont {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  text-align: center;
}
.RentingFor-Links {
  display: flex;
  gap: 5rem;
  list-style: none;
}
.RentingFor-Links P {
  font-weight: 600;
}
.RentingFor-Links li {
  width: 100%;
}
.RentingFor-Links a {
  width: 100%;
  font-size: 5rem;
}

.Rf-Link:link,
.Rf-Link:visited {
  display: inline-block;
  color: #555;
  text-decoration: none;
}
.Rf-Link:hover,
.Rf-Link:active {
  color: #faa2c1;
  transition: all 0.3s;
}

/***********************************************/

/* Shop  */
.Shop-Section {
  padding: 9.6rem 3.2rem;
}
.Shop-container {
  display: grid;
  max-width: 130rem;
  margin: 0 auto;
  align-items: flex-start;

  grid-template-columns: 15rem 1fr;
  gap: 5rem;
}
.Menu-container {
  width: 100%;
}
.Filterbar-container {
  width: 100%;
}

/***********************************************/

/* Filterbar  */
.Filterbar-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 1.5rem;
}
/***********************************************/

/* categories  */
.Categories-apear {
  margin-left: 2.5rem;
  list-style: none;
  padding-left: 1rem;
  border-left: 3px solid black;
}
.Categories-main {
  list-style: none;
}
.Catergories-title {
  font-weight: 700;
  margin-bottom: 2rem;
}

.Categories-link:link,
.Categories-link:visited {
  display: inline-block;
  font-size: 1.2rem;
  color: #555;
  text-decoration: none;
}
.Categories-link:hover,
.Categories-link:active {
  color: #faa2c1;
  transition: all 0.3s;
}
.main-Caterogirs-link {
  margin-bottom: 0.5rem;
}
.Categories-apear li {
  margin-bottom: 0.5rem;
}
/***********************************************/

/* slash  */

.Slash {
  display: flex;
  gap: 5px;

  font-size: 1.2rem;
  list-style: none;
}

.notelastone a:link,
.notelastone a:visited {
  display: inline-block;
  font-size: 1.2rem;
  color: #999;

  text-decoration: none;
}
.notelastone a:hover,
.notelastone a:active {
  color: #faa2c1;
  transition: all 0.3s;
}
.lastone a:link,
.lastone a:visited {
  display: inline-block;
  font-size: 1.2rem;
  color: #555;
  text-decoration: none;
}
.lastone a:hover,
.lastone a:active {
  color: #faa2c1;
  transition: all 0.3s;
}
.CategoryBox {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/***********************************************/

/* FilterBox  */
.filterBox {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 500;
}
.filterContainer {
  margin-bottom: 2rem;
}
.filter-icon {
  font-size: 2rem;
}
.colorBox {
  display: flex;
  transition: ease-in;
  flex-wrap: wrap;
  padding-top: 2rem;
  gap: 1rem;
  padding-bottom: 2rem;
}
.colorSelector {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 1000px;
}
.FiltersHead {
  margin-bottom: 2rem;
}
.colorSelector:hover {
  overflow: hidden;
  transform: scale(1.1);
}

/***********************************************/

/* CheckBox  */

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #faa2c1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/***********************************************/

/* Menu*/
.MenuContainerText {
  display: flex;
  justify-content: space-between;
}
.MenuCardText {
  margin-top: 2rem;
}
.MenuItemsCont {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.MenuCardContainer {
  padding: 2rem;
  padding-bottom: 2rem;
}

.MenuCardImgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuCardImgs img {
  z-index: -1;
  object-fit: cover;
}
.imgFront {
  transition: all 0.5s ease-in-out;
  position: absolute;
}
.Responsive {
  height: 30rem;
}

.MenuCardText {
  flex: 0.5;
  width: 100%;
}
.MenuCardName {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.MenuCardPrice {
  font-size: 1.2rem;
  font-weight: 700;
}
.MenuCardContainer:hover {
  box-shadow: inset 0 0 0 1px gray;
}

.MenuCardContainer:hover .imgFront {
  opacity: 0;
}
.MenuCardLink {
  position: relative;
}
.MenuCardLink:hover .MenuCardLink:active {
  cursor: pointer;
}
/***********************************************/

/* MenuSlider*/
.Slider-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Slider-main {
  padding: 3.2rem;
  padding-bottom: 9.6rem;
  width: 80%;
}
button.slick-prev::before,
button.slick-next::before {
  color: black;
  font-size: 4rem;
}
button.slick-prev {
  left: -55px;
}
button.slick-next {
}
.Slider-Header {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.Slider-all:link,
.Slider-all:visited {
  color: #999;
  font-size: 1.6rem;
  font-weight: 500;
}
.Slider-all:hover,
.Slider-all:active {
  transition: all 0.5s;
  color: #faa2c1;
  font-size: 1.4rem;
  font-weight: 500;
}

/***********************************************/
/* Single Product */

.ProductContainer {
  padding: 3.2rem;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
}
.DropdownPlusItem {
  border-bottom: 1px solid #ddd;
  padding: 1.8rem 0;
}
.DropdownPlus {
  text-align: left;
}
.DropdownPlusDesc {
  font-size: 1.2rem;
  padding: 2rem;
  line-height: 1.6;
}
.DropdownPlusHeader {
  font-size: 1.6rem;
  font-weight: 600;
}
.ProductSideimg {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 2rem;
}
.ProductSideimg img {
  width: 9rem;
}

.DefImg {
  width: 48rem;
  height: 72rem;
  object-fit: cover;
  opacity: 1;
  transition: all 0.5s;
}

.ProductMainimg:hover .DefImg {
  opacity: 0;
}
.ProductMainimg:hover .OnHoverImg {
  opacity: 1;
}

.ProductMainimg {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
.ProductAddtoBag {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.ProductText {
  border-bottom: 0.3px solid rgb(221, 221, 221);
  color: #333;
}
.ProductText span {
  font-weight: 700;
  color: #999;
  display: block;
  margin-top: 1rem;
  margin-right: 6rem;
  margin-bottom: 1rem;
}
.ProductTitle {
  margin-bottom: 0;
}
.PlansContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.OneTimeRental {
  width: 100%;
  border: 1px solid grey;
  box-shadow: 0.2px 0.2px grey;
  margin-left: 0.1rem;
}
.OnetimeText {
  font-size: 1.4rem;
  color: #333;
}
.OnetimeTextTitle {
  font-weight: 600;
  font-size: 1.6rem;
}
.price {
  font-weight: 700;
  font-size: 1.6;
}

.OneTimeContent {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 5rem;
  background-color: #faa2c1;
}
.ProductDD {
  width: 100%;
  margin-top: 2rem;
  text-align: left;
  padding: 2rem;
  font-size: 1.4rem;
}
.DDcontent {
  display: grid;
  grid-template-columns: 1fr;
  /* display: flex;
  flex-direction: column; */
  gap: 5rem;
}
.sizeCont {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.SizeAFit {
  cursor: pointer;
}
.SizeAFit:link,
.SizeAFit:visited {
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
}
.SizeAFit:hover,
.SizeAFit:active {
  transition: all 0.5s;
  color: #faa2c1;
  font-size: 1.4rem;
  font-weight: 500;
}

.standard-select {
  width: 15rem;
  color: #555;
  appearance: none;
  font-size: 1.6rem;
  padding: 1rem 1rem;
  padding-left: 1rem;
  padding-right: 7rem;
}
select option {
  font-size: 1.6rem;
}
.select {
  position: relative;
}

.select::after {
  content: "";
  pointer-events: none;
  display: block;
  width: 3rem;
  background: url("../public/Imgs/down-arrow.png");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: 3rem;
  background-size: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.delivCont p {
  margin-bottom: 2rem;
}
.RBdays {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-control {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.form-control input {
  appearance: none;
}

.form-control::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1000rem;
  border: 1px solid black;
  pointer-events: none;

  background-size: 50%;
  background-position: center;
}
.form-control input:checked:after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 1000rem;
  background: pink;
  border: 1px solid black;
  position: absolute;
  left: 2.5px;
  top: 2.5px;

  background-size: 50%;
  background-position: center;
}
.CalendCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.Calendar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  border: 1px solid gray;
}
.CalendarIcon {
  font-size: 3rem;
  color: rgb(180, 180, 180);
}
.CalendarSection {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;

  left: 0;
  top: 0;
}
.SizeAfitSection {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  width: 100%;
  padding-top: 2rem;
  height: 100vh;
  z-index: 2;

  left: 0;
  top: 0;
}
.CalendarScreen {
  background-color: #ffff;
  padding: 5rem;
  border: 1px solid black;
  width: 60rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.SizeAFitTitle {
  margin-bottom: 1rem;
}
.SizeAfitSection {
  overflow: auto;
}
.PlusSize {
  width: 90% !important;
}
.SizeAFitScreen {
  margin: 0 auto;
  position: relative;
  width: 80rem;
  background-color: #ffff;
  padding: 5rem;
  border: 1px solid black;
}
.SizeAFitScreen img {
  object-fit: cover;
  width: 70%;
  margin-top: 2rem;
}
.SizeAFitItem {
  margin-bottom: 3rem;
}
.XBtn {
  content: "";
  width: 5rem;
  height: 5rem;
  background-image: url(../public/Imgs/cross.png);
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: center;
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 0;
}
.CalenderTitle {
  font-size: 2rem;
  font-weight: 600;
}

.CalendarMain {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.Days {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}

.DaysTitles {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  justify-content: center;
}

.DaysActual {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  grid-template-rows: repeat(4, 50px);
}
.DaysActual div {
  border: 0.2px solid rgb(202, 202, 202);

  padding: 2rem;
  background-color: rgb(253, 253, 253);
}
.DateSelected {
  font-size: 1.6rem;
  border: 0px;
  width: 18rem;
  height: 5rem;
  padding: 1rem;
  pointer-events: none;
}
.CalendarContent {
  width: 100%;
  position: relative;
}
.left-icon,
.right-icon {
  position: absolute;
  font-size: 2rem;
  top: 0;
  cursor: pointer;
}
.left-icon {
  left: 0;
}
.right-icon {
  right: 0;
}
.AddToCartBtn {
  width: 100%;
  align-self: center;
  justify-self: center;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.AddToCartBtn:hover {
  background-color: #faa2c1;
  color: #333;
}
/***********************************************/

/* Cart Section */
.CartSection {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 2;
  background-color: rgba(51, 51, 51, 0.8);
  transition: visibility 250ms ease-in-out;

  justify-content: end;
  padding-left: 0;
}
.CartContainer {
  max-width: 37.5rem;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: width 250ms ease-in-out;
}
.Header-sectio {
  width: 100%;
}
.Intro {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
.Intro p {
  font-size: 1.4rem;
  text-align: center;
  margin-right: 4rem;
  color: gray;
}
.CartContArrow {
  font-size: 5rem;
  cursor: pointer;
  transition: background 0.3s;
}
.CartContArrow:hover {
  color: #faa2c1;
}

.CartItemsSection {
  padding: 1.5rem;
  max-height: 40rem;

  overflow: auto;
}
.TotalPrice {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.TotalPrice {
  font-size: 2rem;
  font-weight: 700;
}
.EndCartItem {
  background-color: #ccc;
  padding: 2rem;
}

/***********************************************/

/* Cartitem */
.Datevalue {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  /* margin-bottom: 2rem; */
  font-size: 1.2rem;
}
.ItemContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  padding: 2rem;
}
.ItemImg img {
  width: 80px;
}
.ItemInfo {
  font-size: 1.2rem;
  color: #222;
}
.ItemHead {
  font-size: 1.6rem;
  font-weight: 700;
}
.ItemPrice {
  font-weight: 600;
}
.XButton {
  font-size: 2rem;
  justify-self: end;
  cursor: pointer;
}
.EmptySection {
  height: 10rem;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
}
.EmptyBtn {
  width: 80%;
  align-self: center;
  justify-self: center;
  padding: 2rem 2rem;
  font-size: 1.4rem;
  color: black;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  transition: background 0.3s;
}
.BtnCont {
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
}
.LinkRouter {
  color: inherit !important;
  text-decoration: inherit !important;
  font-size: inherit !important;
  display: inherit;
}
.SortBydiv {
  height: 4.5rem;
}

.SortBy {
  padding-right: 3rem;
  width: auto;
  border: none;
  font-size: 1.8rem;
}
.btn-Link {
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-Link {
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
}

/***********************************************/

/* Checkout */
.Checkout-navbar {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  border-bottom: 1px solid black;
}
.Logo_title {
  display: flex;
  align-items: center;
  gap: 8em;
}

.CheckoutHeader {
  color: black;
  margin: 0 !important;
  font-size: 3.2rem;
}
.Secure_acc {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.Secure_acc p {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}
.securedLogo {
  font-size: 2rem;
}

.Checkout-Section {
  background-color: #feecf3;
  padding: 9.6rem 0;
}

.Checkout-main {
  max-width: 130rem;
  margin: 0 auto;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}
.item-data {
  background-color: white;
  width: 90%;
  align-self: flex-start;
}
.item {
  padding: 0 3.6rem;
  padding-bottom: 2.6rem;
}
.item-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  font-size: 1.4rem;
  border-bottom: 1px solid black;
}
.first-item-header {
  font-size: 1.6rem;
  font-weight: 700;
}

.Checkout-img {
  width: 20%;
}
.item-info {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img_info {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.info {
  font-size: 1.4rem;
}
.Checkout-X {
  font-size: 3rem;
  cursor: pointer;
  margin-bottom: 5rem;
}

.finalprice-cont {
  align-self: flex-start;
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: white;
}
.finalprice-heading {
  color: black;
}

.Promo {
  margin-bottom: 2rem;
}

.Promo input,
.Promo button {
  padding: 1rem 1rem;
}
.Promo input {
  border-right: none;
  width: 80%;
}
.Promo button {
  cursor: pointer;
  background-color: white;
  width: 20%;
}
.price-details {
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}
.prices-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.Checkout-CTA {
  width: 100%;
  align-self: center;
  justify-self: center;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Total {
  font-weight: 600;
}

.Checkout-CTA:hover {
  background-color: #faa2c1;
  color: #333;
}
.EmptyCheckoutBox {
  width: 50rem;
  height: 30rem;
  border: 3px solid black;
}
.EmptyHeader {
  margin-bottom: 0;
}
.EmptyCheckoutCont:link,
.EmptyCheckoutCont:visited {
  font-size: 1.4rem;
  color: #495057;
}
.Logo-Link {
  display: flex;
  justify-content: center;
}

/***********************************************/

/* HERO2 */

.Hero2-Section {
  padding: 6.4rem;
  margin-bottom: 6.4rem;
  background-image: linear-gradient(to right bottom, #222, white, #222);
}
.Hero2-cont {
  max-width: 130rem;
  padding: 0 9.6rem;
  display: grid;
  margin: 0 auto;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.Hero2-cont img {
  max-width: 55rem;
  height: 80rem;
  object-fit: cover;
}
.img1,
.img2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img1-Text,
.img2-Text {
  top: 50;
  font-size: 5rem;
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 100%;
  height: 20rem;
}
.hero2-desc:link,
.hero2-desc:visited {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}
.hero2-desc:hover,
.hero2-desc:active {
  color: rgb(226, 226, 226);
}
/***********************************************/

/* THT */
.tht-cont {
  width: 100%;
  padding: 3.2rem;
  background-color: #faa2c1;
  background-image: linear-gradient(to right, #222, #faa2c1 50%, #222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tht-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.tht-info h2 {
  margin-bottom: 0rem;
}
.tht-info p {
  font-size: 2rem;
}
.tht-info button {
  width: 30%;
  align-self: center;
  justify-self: center;
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 1px solid black;
  transition: background 0.3s;
}
.tht-info button:hover {
  background-color: white;
  color: #333;
}
/***********************************************/

/* Footer */
.Footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff6f9;
  border-top: 1px solid black;
}
.Footer {
  max-width: 100rem;
  padding: 9.6rem;
  display: grid;
  gap: 3.2rem;
  justify-items: center;
  align-items: flex-start;

  grid-template-columns: 1fr 1fr 1fr;
}
.FooterItem h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 1rem;
}
.ListFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  font-size: 1.2rem;
}
.footer-link {
  display: block;
  font-size: 1.2rem !important;
}
.social {
  display: flex;
  font-size: 4rem;
}
.social a {
  color: #222;
}
.Terms {
  font-size: 1.2rem;
  padding-bottom: 9.6rem;
  text-align: center;
}
.Terms p {
  margin: 1rem;
}

.Term-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.Btn-Acc {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
/***********************************************/

/* Story section */
.Story-Section {
  padding: 9.6rem 0;
  background-color: black;
}
.Story-Cont {
  width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  gap: 2rem;
}
.Story-Cont img {
  border: 1px solid #c8829a;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  cursor: pointer;
}
.Story-Cont img:hover {
  transform: scale(1.2);
}
.Story-Cont p {
  font-size: 4rem;
  font-weight: 700;
  color: #c8829a;
  grid-column: 2/4;
  grid-row: 2;
}
.Story-Cont img:nth-child(6) {
  grid-column: 4;
}
.Story-Logo {
  position: fixed;
  top: 20px;
  left: 20px;
  border: none;
}
